:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  gap: 1rem;
  flex-direction: column;
  background-color: black;
  color: white;
}

#header {
  text-align: center;
  height: 10vh;
  padding: 0.5rem;
}

#header h1 {
  margin: 0;
  line-height: 1;
}

#content {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#menu {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  font-size: 0.8rem;
}

#menu button:hover, #menu input:hover, #menu select:hover{
  transform: scale(1.15);;
}

#menu button, input, select {
  transition: all 0.3s ease-in-out;
}

#menu button:hover {
  box-shadow: 0 0 5px #32de87
}

#menu button {
  width: 5.5rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 0.3rem;
  color: white;
  cursor: pointer;
}

#color-picker input{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  cursor: pointer;
}

#clear-button {
  background-color: grey;
}

#clear-button:active {
  background-color: #32de87;
}

#choose-size-select-div {
  width: 5rem;
  text-align: center;
  color: white;
}

#select-size {
  background-color: grey;
  color: white;
}

#select-size:hover {
  background-color: #32de87
}

#grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  height: 70vh;
  width: 60vw;
}

.grid-item {
  border: 0.1px solid grey;
  text-align: center;
  background-color: #123456;
}

#footer {
  text-align: center;
  height: 10vh;
}
