:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: black;
  color: white;
}

#header {
  text-align: center;
}

#header h1 {
  margin-bottom: 0;
}

#content {
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding-left: 5%;
}

#menu {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 15px;
}

#menu button:hover, #menu input:hover, #menu select:hover{
  transform: scale(1.15);;
}

#menu button, input, select {
  transition: all 0.3s ease-in-out;
}

#menu button:hover {
  box-shadow: 0 0 5px #32de87
}

#menu button {
  width: 5.5rem;
  height: 1.5rem;
  font-size: 15px;
  background-color: grey;
  border-radius: 25%;
}

#color-picker input{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#color-picker input::-webkit-color-swatch {
  border-radius: 25%;
}

#clear-button:active {
  background-color: #32de87;
}

#choose-size-select-div {
  width: 5rem;
  height: 1.5rem;
  padding-left: 15px;
}

#select-label {
  margin-left: -7.5px;
}

#select-size {
  background-color: grey;
}

#grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  height: 70%;
  width: 60%;
}

.grid-item {
  border: 0.1px solid grey;
  text-align: center;
  background-color: #123456;
}

#footer {
  text-align: center;
  height: 10px;
}
